<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>

    style
    
        include ../static/style.css
</head>
<body>
        <div class="con">Contact Us</div>
        <form action="/" method="post">
        <div class="container">
        <input type="text" name="names" placeholder="Enter Your Name">
        <input type="text" name="phoneno" placeholder="Enter Your Phone No.">
        <input type="text" name="emailid" placeholder="Enter Your email id">
        <input type="text" name="query1" placeholder="Enter Your query">
        </div>
        <div class="btn"><button>Submit</button></div>
</body>
</html>